extends toplevel 
block content 
    div(class="columns is-centered")
        div(class="column is-5-tablet is-4-desktop is-3-widescreen")
            div(class="box main")
                div(class="container")
                    h1= title 

                    div(class="error")= errorMessage 

                    div(class="field")
                        label(class="label") First name
                        div(class="control")
                            input(class="input", type="text", name="firstName", value=user.firstName, readonly="true")

                    div(class="field")
                        label(class="label") Last name
                        div(class="control")
                            input(class="input", type="text", name="lastName", value=user.lastName, readonly="true")

                    div(class="field")
                        label(class="label") E-Mail
                        div(class="control")
                            input(class="input", type="email", name="email", value=user.email, readonly="true")

                    div(class="field")
                        label(class="label") Role
                        div(class="control")
                            input(class="input", type="text", name="role", value=user.role, readonly="true")

